body{
    background-color: white;
}
.container{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    margin: auto;

}
.partie-gauche{
    width:30%;
    background-color: #F6C427;
}
.partie-droite{
    width: 70%;
    background-color: #494E5C;
}
.prenom-nom{
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    margin: 1em 0 0.2em 0.5em;
}
#maxime{
    font-weight: 300;
}
#camaille{
    font-weight: bold;
}
.container-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3em;
}
.profession{
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    margin-left: 2em;
}
.rond-blanc{
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    position: absolute;
    top: -0.3em;
    left: -1.3em;
}
.rond-blanc2{
    background-color: whitesmoke;
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    position: absolute;
    top: 3.12em;
    left: -8.5px;
}
.rond-blanc3{
    background-color: whitesmoke;
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    position: absolute;
    top: 16.6em;
    left: -8.5px;
}

.logo-formation{
    width: 25px;
}
img.logo-formation {
    position: relative;
    top: 9px;
    right: -7px;
}
.titre-article{
    background-color:#F5D970;
    color:#494E5C;
    text-transform: uppercase;
    font-weight:900;
    font-size: 1em;
    margin:0;
    padding: 0.4em 0 0.4em 2.2em;
}
.date-article{
    color: whitesmoke;
    text-transform: uppercase;
    font-weight:900;
    font-size: 0.85em;
    margin-left: 2.2em;
}
.Titre-et-logo{
    position: relative;
}

.intitule-paragraphe{
    color: whitesmoke;
    margin-left: 8.2em;
    font-weight: 800;
}
.list-contenu li{
   color: whitesmoke;
   margin-left: 6.5em;
   font-size: 0.85em;
   line-height: 1.5em;
   font-weight: 300;
}

.logo-projet-et-experience{
    width: 25px;
}
img.logo-projet-et-experience{
    position: relative;
    top: 9px;
    right: -8px;
}
.Logo-Skills-Folder{
    width: 24px;
}
img.Logo-Skills-Folder{
    position: relative;
    top: 7px;
    right: -8px;
}
.competence,.projet-et-experience,.formation{
    border-bottom: solid 2px #F6C427;
    border-left: solid 2px #F6C427;
    margin-bottom: 2em;
}

.list-contenu-skills li{
    color: whitesmoke;
    margin-left: 1.5em;
    font-size: 0.85em;
    line-height: 1.5em;
    font-weight: 300;
    list-style: none;
 }
 .list-contenu-skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2em;
 }
 .progress-bar-border{
    width: 20%;
    height: 15px;
    background-color: whitesmoke;
    border: solid 1px grey;
 }
 .progress-bar{
    width: 50%;
    height: 15px;
    background-color: #F6C427;
    
 }
 .text-skills{
    flex-basis: 20%;
 }
/*---------------------------------*/
.partie-gauche{
    color: #494E5C;
}
.partie-gauche h3{
    text-transform: uppercase;
    font-size: 1em;
    font-weight:900;
    margin-left: 2.6em;
    margin-bottom: 1.5em;
}
.photo-de-profil{
    width: 170px;
    border-radius: 50%;
    border: 3px solid white;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    display: block;
}
address{
    font-size: 0.75em;
    font-weight: 700;
    margin-bottom: 35em;
}
address img{
    width: 25px;
    display: block;
    margin-left: 1.5em;
    margin-right: 1em;
}
.adress,.phone-number,.mail{
    display: flex; 
    align-items: center;
    margin-bottom: 0.8em;
    margin-left: 2em;;
}

.email{
    text-decoration: none;
    color: #494E5C;
}
.partie-gauche h4{
    margin-left: 2.5em;
    font-size: 0.75em;
    font-weight: 800;
    margin-bottom: 0.75em;
}
.partie-gauche em{
    margin-left: 2em;
    font-size: 0.9em;
}
.email-referent{
    margin-left: 1.7em;
    font-size: 0.9em;
    text-decoration: none;
    color: #494E5C;
}
.partie-gauche li{
    list-style: none;
    margin-bottom: 0.3em;
    font-size: 0.9em;
}
.Centre-interet{
    margin-top: 4em;
}
